/* @font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/Mona-Sans.var.woff2') format('woff2');
} */

 @font-face {
  font-family: 'Trebuchet MS';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/trebuc.ttf') format('ttf');
}

/* Pause marquee animation on hover */
.pause-marquee:hover {
  animation-play-state: paused;
}
